<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starda.managesystem.mapper.system.SysAddressMapper">
  <resultMap id="BaseResultMap" type="com.starda.managesystem.pojo.SysAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="address_name" jdbcType="VARCHAR" property="addressName" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="address_url" jdbcType="VARCHAR" property="addressUrl" />
    <result column="children" jdbcType="INTEGER" property="children" />
    <result column="route" property="route"/>
    <result column="icon" property="icon"/>
    <result column="redirect" property="redirect"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, p_id, address_name, menu_id, address_url, children, route, icon, redirect
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_address
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 获取管理地址 -->
  <select id="getAddressList" resultType="com.starda.managesystem.pojo.vo.AddressVO">
    select address as addressName, address_code as addressCode from manage_address where status = 1
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.SysAddress" useGeneratedKeys="true">
    insert into sys_address (p_id, address_name, menu_id, 
      address_url, children, route, icon, redirect)
    values (#{pId,jdbcType=INTEGER}, #{addressName,jdbcType=VARCHAR}, #{menuId,jdbcType=INTEGER}, 
      #{addressUrl,jdbcType=VARCHAR}, #{children,jdbcType=INTEGER}, #{route}, #{icon}, #{redirect})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.SysAddress" useGeneratedKeys="true">
    insert into sys_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        p_id,
      </if>
      <if test="addressName != null">
        address_name,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="addressUrl != null">
        address_url,
      </if>
      <if test="children != null">
        children,
      </if>
        <if test="route != null">
          route,
        </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="redirect != null">
        redirect,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="addressName != null">
        #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="addressUrl != null">
        #{addressUrl,jdbcType=VARCHAR},
      </if>
      <if test="children != null">
        #{children,jdbcType=INTEGER},
      </if>
        <if test="route != null">
          #{route},
        </if>
      <if test="icon != null">
        #{icon},
      </if>
      <if test="redirect != null">
        #{redirect},
      </if>
    </trim>
  </insert>

    <!-- 添加管理地址 -->
    <insert id="insertAddress"  keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.ManageAddress" useGeneratedKeys="true">
      insert into manage_address
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="addressName != null">
          address,
        </if>
        <if test="addressCode != null">
          address_code,
        </if>
        <if test="status != null">
          status,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="addressName != null">
          #{addressName},
        </if>
        <if test="addressCode != null">
          #{addressCode},
        </if>
        <if test="status != null">
          #{status},
        </if>
      </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.starda.managesystem.pojo.SysAddress">
    update sys_address
    <set>
      <if test="pId != null">
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="addressName != null">
        address_name = #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="addressUrl != null">
        address_url = #{addressUrl,jdbcType=VARCHAR},
      </if>
      <if test="children != null">
        children = #{children,jdbcType=INTEGER},
      </if>
        <if test="route != null">
          route = #{route},
        </if>
      <if test="icon != null">
        icon = #{icon},
      </if>
      <if test="redirect != null">
        redirect = #{redirect},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starda.managesystem.pojo.SysAddress">
    update sys_address
    set p_id = #{pId,jdbcType=INTEGER},
      address_name = #{addressName,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=INTEGER},
      address_url = #{addressUrl,jdbcType=VARCHAR},
      children = #{children,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 修改管理地址 -->
  <update id="updateAddress">
    update manage_address
    set status = 0
    where id = #{addressId}
  </update>
  
  <!-- 获取全部父级id -->
  <select id="getParentAddressList" parameterType="list" resultType="map">
    select *
        from sys_address sa
            right join sys_address sa1 on sa1.id = sa.p_id
            <where>
              sa.status = 1
                <if test="menuList != null">
                  and menu_id in
                    <foreach collection="menuList" item="menuId" separator="," open="(" close=")">
                      #{menuId}
                    </foreach>
                </if>
            </where>
  </select>
  
</mapper>