<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starda.managesystem.mapper.system.SysRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.starda.managesystem.pojo.SysRoleMenu">
    <id column="sys_role_menu_id" jdbcType="INTEGER" property="id" />
    <result column="sys_role_menu_role_id" jdbcType="INTEGER" property="role_id" />
    <result column="sys_role_menu_menu_id" jdbcType="INTEGER" property="menu_id" />
    <result column="sys_role_menu_create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="sys_role_menu_status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    sys_role_menu.id as sys_role_menu_id, sys_role_menu.role_id as sys_role_menu_role_id, 
    sys_role_menu.menu_id as sys_role_menu_menu_id, sys_role_menu.create_time as sys_role_menu_create_time, 
    sys_role_menu.`status` as `sys_role_menu_status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_menu sys_role_menu
    where sys_role_menu.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.SysRoleMenu" useGeneratedKeys="true">
    insert into sys_role_menu (role_id, menu_id, create_time, 
      `status`)
    values (#{role_id,jdbcType=INTEGER}, #{menu_id,jdbcType=INTEGER}, #{create_time,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.SysRoleMenu" useGeneratedKeys="true">
    insert into sys_role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="role_id != null">
        role_id,
      </if>
      <if test="menu_id != null">
        menu_id,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="role_id != null">
        #{role_id,jdbcType=INTEGER},
      </if>
      <if test="menu_id != null">
        #{menu_id,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starda.managesystem.pojo.SysRoleMenu">
    update sys_role_menu
    <set>
      <if test="role_id != null">
        role_id = #{role_id,jdbcType=INTEGER},
      </if>
      <if test="menu_id != null">
        menu_id = #{menu_id,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starda.managesystem.pojo.SysRoleMenu">
    update sys_role_menu
    set role_id = #{role_id,jdbcType=INTEGER},
      menu_id = #{menu_id,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="Base_Menu_List" type="com.starda.managesystem.pojo.dto.MenuAddressDTO">
    <id column="id" property="id"/>
    <result column="menu_name" property="addressName"/>
    <result column="code" property="smilName"/>
    <result column="address_url" property="addressUrl"/>
    <result column="remark" property="remark"/>
    <result column="route" property="path"/>
    <result column="icon" property="icon"/>
    <result column="redirect" property="redirect"/>
  </resultMap>

  <select id="getMenuAddressList" parameterType="list" resultMap="Base_Menu_List">
    select sm.id,sm.menu_name,sm.code,sm.address_url,sm.remark,sm.route,sm.icon,sm.redirect
        from sys_menu sm
           right join sys_role_menu srm on sm.id = srm.menu_id
            <where>
                <if test="roleList != null">
                  srm.status = 1 and
                  srm.role_id in
                    <foreach collection="roleList" close="(" open=")" separator="," item="roleId">
                      #{roleId}
                    </foreach>
                </if>
            </where>
  </select>

  <select id="getMenuAddressListAll" parameterType="list" resultMap="Base_Menu_List">
    select sm.id,sm.menu_name,sm.code,sm.address_url,sm.remark,sm.route,sm.icon,sm.redirect
    from sys_menu sm
  </select>

</mapper>