<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starda.managesystem.mapper.system.SysStaffMapper">
  <resultMap id="BaseResultMap" type="com.starda.managesystem.pojo.SysStaff">
    <id column="sys_staff_id" jdbcType="INTEGER" property="id" />
    <result column="sys_staff_username" jdbcType="VARCHAR" property="username" />
    <result column="sys_staff_sex" jdbcType="INTEGER" property="sex" />
    <result column="sys_staff_user_height" jdbcType="DOUBLE" property="user_height" />
    <result column="sys_staff_phone" jdbcType="VARCHAR" property="phone" />
    <result column="sys_staff_create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="sys_staff_status" jdbcType="INTEGER" property="status" />
    <result column="sys_staff_identity" jdbcType="VARCHAR" property="identity" />
    <result column="sys_staff_head_img" jdbcType="VARCHAR" property="head_img" />
    <result column="sys_staff_user_id" jdbcType="INTEGER" property="user_id" />
    <result column="sys_staff_position" jdbcType="VARCHAR" property="position" />
    <result column="sys_staff_remark" jdbcType="VARCHAR" property="remark" />
    <result column="sys_staff_create_account_id" jdbcType="INTEGER" property="create_account_id" />
    <result column="sys_staff_update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <sql id="Base_Column_List">
    sys_staff.id as sys_staff_id, sys_staff.username as sys_staff_username, sys_staff.sex as sys_staff_sex, 
    sys_staff.user_height as sys_staff_user_height, sys_staff.phone as sys_staff_phone, 
    sys_staff.create_time as sys_staff_create_time, sys_staff.`status` as `sys_staff_status`, 
    sys_staff.`identity` as `sys_staff_identity`, sys_staff.head_img as sys_staff_head_img, 
    sys_staff.user_id as sys_staff_user_id, sys_staff.`position` as `sys_staff_position`, 
    sys_staff.remark as sys_staff_remark, sys_staff.create_account_id as sys_staff_create_account_id, 
    sys_staff.update_time as sys_staff_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_staff sys_staff
    where sys_staff.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_staff
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.SysStaff" useGeneratedKeys="true">
    insert into sys_staff (username, sex, user_height, 
      phone, create_time, `status`, 
      `identity`, head_img, user_id, 
      `position`, remark, create_account_id, 
      update_time)
    values (#{username,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{user_height,jdbcType=DOUBLE}, 
      #{phone,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{identity,jdbcType=VARCHAR}, #{head_img,jdbcType=VARCHAR}, #{user_id,jdbcType=INTEGER}, 
      #{position,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{create_account_id,jdbcType=INTEGER}, 
      #{update_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.SysStaff" useGeneratedKeys="true">
    insert into sys_staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="user_height != null">
        user_height,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="identity != null">
        `identity`,
      </if>
      <if test="head_img != null">
        head_img,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="position != null">
        `position`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="create_account_id != null">
        create_account_id,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="user_height != null">
        #{user_height,jdbcType=DOUBLE},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="head_img != null">
        #{head_img,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="create_account_id != null">
        #{create_account_id,jdbcType=INTEGER},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starda.managesystem.pojo.SysStaff">
    update sys_staff
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="user_height != null">
        user_height = #{user_height,jdbcType=DOUBLE},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="identity != null">
        `identity` = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="head_img != null">
        head_img = #{head_img,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        `position` = #{position,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="create_account_id != null">
        create_account_id = #{create_account_id,jdbcType=INTEGER},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starda.managesystem.pojo.SysStaff">
    update sys_staff
    set username = #{username,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      user_height = #{user_height,jdbcType=DOUBLE},
      phone = #{phone,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      `identity` = #{identity,jdbcType=VARCHAR},
      head_img = #{head_img,jdbcType=VARCHAR},
      user_id = #{user_id,jdbcType=INTEGER},
      `position` = #{position,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_account_id = #{create_account_id,jdbcType=INTEGER},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 批量操作修改 -->
    <update id="updateByStaffIds">
      update sys_staff
      set status = 0
      where id in <foreach collection="staffIds" item="id" separator="," open="(" close=")">#{id,jdbcType=INTEGER}</foreach>
    </update>

  <resultMap id="Base_staff_list" type="com.starda.managesystem.pojo.vo.staff.StaffInfoListVO">
    <id column="id" property="id"/>
    <result column="username" property="username"/>
    <result column="sex" property="sex"/>
    <result column="user_height" property="userHeight"/>
    <result column="phone" property="phone"/>
    <result column="create_time" property="createTime"/>
    <result column="identity" property="identity"/>
    <result column="head_img" property="headImg"/>
    <result column="position" property="position"/>
    <result column="remark" property="remark"/>
    <result column="accountName" property="accountName"/>
  </resultMap>

  <!-- 获取员工列表 -->
  <select id="getAccountInfoList" resultMap="Base_staff_list" parameterType="com.starda.managesystem.pojo.po.staff.StaffQueryPO">
    select stf.id,
           stf.username,
           stf.sex,
           stf.user_height,
           stf.phone,
            DATE_FORMAT(stf.create_time,'%Y-%m-%d %H:%i:%s') as create_time,
           stf.head_img,
           stf.identity,
           stf.position,
          <if test="accountId != null">
            stf1.username as accountName,
          </if>
           stf.remark
    from sys_staff stf
    <if test="accountId != null">
      left join sys_staff stf1 on stf1.user_id = stf.create_account_id
    </if>
        <where>
          stf.`status` = 1
          <if test="accountId != null">
             and stf.create_account_id = #{accountId}
          </if>
            <if test="userName != null and userName != ''">
              and stf.username like concat('%', #{userName}, '%')
            </if>
            <if test="startTime != null">
                and <![CDATA[stf.create_time >= #{startTime}]]>
            </if>
            <if test="endTime != null">
              and <![CDATA[stf.create_time <= #{endTime}]]>
            </if>
        </where>
     order by stf.create_time desc
  </select>

</mapper>