<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starda.managesystem.mapper.system.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.starda.managesystem.pojo.SysUser">
    <id column="sys_user_id" jdbcType="INTEGER" property="id" />
    <result column="sys_user_account" jdbcType="VARCHAR" property="account" />
    <result column="sys_user_password" jdbcType="VARCHAR" property="password" />
    <result column="sys_user_phone" jdbcType="VARCHAR" property="phone" />
    <result column="sys_user_address" jdbcType="VARCHAR" property="address" />
    <result column="sys_user_status" jdbcType="INTEGER" property="status" />
    <result column="sys_user_address_code" jdbcType="VARCHAR" property="address_code" />
  </resultMap>
  <sql id="Base_Column_List">
    sys_user.id as sys_user_id, sys_user.account as sys_user_account, sys_user.`password` as `sys_user_password`, 
    sys_user.phone as sys_user_phone, sys_user.address as sys_user_address, sys_user.`status` as `sys_user_status`, 
    sys_user.address_code as sys_user_address_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user sys_user
    where sys_user.id = #{id,jdbcType=INTEGER}
  </select>

  <resultMap id="Base_Account_Result" type="com.starda.managesystem.pojo.dto.AccountInfoDTO">
    <id column="sys_user_id" jdbcType="INTEGER" property="id" />
    <result column="sys_user_account" jdbcType="VARCHAR" property="account" />
    <result column="sys_user_password" jdbcType="VARCHAR" property="password" />
    <result column="sys_user_phone" jdbcType="VARCHAR" property="phone" />
    <result column="sys_user_address" jdbcType="VARCHAR" property="address" />
    <result column="sys_user_address_code" jdbcType="VARCHAR" property="address_code" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="staff_username" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_head_img" jdbcType="VARCHAR" property="staffImg" />
  </resultMap>

  <!-- 获取到账号信息 -->
    <select id="getAccountInfo" resultMap="Base_Account_Result">
        select sys_user.id as sys_user_id, sys_user.account as sys_user_account, sys_user.`password` as `sys_user_password`,
      sys_user.phone as sys_user_phone, sys_user.address as sys_user_address, sys_user.address_code as sys_user_address_code,
               staff.id as staff_id, staff.username as staff_username, staff.head_img as staff_head_img
        from sys_user sys_user
        left join sys_staff staff on sys_user.id = staff.user_id
        <where>
          sys_user.status = 1 and
          staff.status = 1
        <if test="account != null and account != ''">
          and account = #{account}
        </if>
        <if test="phone != null and phone != ''">
          and phone = #{phone}
        </if>
        </where>
    </select>

  <!-- 员工详情 -->
  <resultMap id="Base_Staff_Info_Result" type="com.starda.managesystem.pojo.vo.staff.StaffInfoVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address_code" jdbcType="VARCHAR" property="addressCode" />
    <result column="sex" property="sex" />
    <result column="user_height" property="userHeight" />
    <result column="user_id" property="userId" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="head_img" property="headImg"/>
    <result column="identity" property="identity"/>
    <result column="position" property="position"/>
    <result column="remark" property="remark"/>
    <result column="createTime" property="createTime"/>
  </resultMap>

    <!-- 获取到员工详情 -->
    <select id="getStaffInfo" resultMap="Base_Staff_Info_Result">
      select sst.id, su.account ,sst.phone, su.address , su.address_code, sst.username as userName, sst.sex, sst.user_height,
             DATE_FORMAT(sst.create_time,'%Y-%m-%d %H:%i:%s') as createTime, sst.head_img, sst.user_id, sst.remark,
             sst.position, sst.identity
            from sys_staff sst
                left join sys_user su on su.id = sst.user_id
            <where>
              sst.id = #{staffId}
                and sst.status = 1
            </where>
    </select>

  <resultMap id="Base_account_info_list" type="com.starda.managesystem.pojo.vo.staff.AccountInfoListVO">
    <id column="id" property="id"/>
    <result column="address" property="address"/>
    <result column="account" property="accountName"/>
    <result column="phone" property="phone"/>
    <result column="remark" property="remark"/>
  </resultMap>

  <!-- 账号信息列表 -->
    <select id="getAccountList" resultMap="Base_account_info_list">
        select su.id,su.account,su.address,stf.remark,stf.phone
            from sys_user su, sys_staff stf
            <where>
                su.status = 1
              and stf.user_id = su.id
                <if test="accountId != null">
                  and stf.create_account_id = #{accountId}
                </if>
                <if test="accountName != null and accountName !=''">
                  and account like concat('%', #{accountName}, '%')
                </if>
              <if test="addressCode != null and addressCode !=''">
                and su.address_code = #{addressCode}
              </if>
            </where>
            order by su.id desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.SysUser" useGeneratedKeys="true">
    insert into sys_user (account, `password`, phone, 
      address, `status`, address_code
      )
    values (#{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{address_code,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.SysUser" useGeneratedKeys="true">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="address_code != null">
        address_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="address_code != null">
        #{address_code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starda.managesystem.pojo.SysUser">
    update sys_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="address_code != null">
        address_code = #{address_code,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starda.managesystem.pojo.SysUser">
    update sys_user
    set account = #{account,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      address_code = #{address_code,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>