<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starda.managesystem.mapper.business.ManageBusinessInfoMapper">
  <resultMap id="BaseResultMap" type="com.starda.managesystem.pojo.ManageBusinessInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="business_address" jdbcType="VARCHAR" property="businessAddress" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="dimension" jdbcType="VARCHAR" property="dimension" />
    <result column="business_file" jdbcType="VARCHAR" property="businessFile" />
    <result column="part_name" jdbcType="VARCHAR" property="partName" />
    <result column="create_account_id" jdbcType="INTEGER" property="createAccountId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_account" jdbcType="INTEGER" property="updateAccount" />
    <result column="finish" jdbcType="INTEGER" property="finish" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, business_id, task_name, staff_id, staff_name, create_time, remark, money, 
    business_address, longitude, dimension, business_file, part_name, create_account_id, 
    create_user, update_time, update_account, finish, `level`, `status`, finish_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manage_business_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manage_business_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.ManageBusinessInfo" useGeneratedKeys="true">
    insert into manage_business_info (pid, business_id, task_name, 
      staff_id, staff_name, create_time, 
      remark, money, business_address, 
      longitude, dimension, business_file, 
      part_name, create_account_id, create_user, 
      update_time, update_account, finish, 
      `level`, `status`, finish_time
      )
    values (#{pid,jdbcType=INTEGER}, #{businessId,jdbcType=INTEGER}, #{taskName,jdbcType=VARCHAR}, 
      #{staffId,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{businessAddress,jdbcType=VARCHAR},
      #{longitude,jdbcType=VARCHAR}, #{dimension,jdbcType=VARCHAR}, #{businessFile,jdbcType=VARCHAR}, 
      #{partName,jdbcType=VARCHAR}, #{createAccountId,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateAccount,jdbcType=INTEGER}, #{finish,jdbcType=INTEGER}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{finishTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.starda.managesystem.pojo.ManageBusinessInfo" useGeneratedKeys="true">
    insert into manage_business_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="businessAddress != null">
        business_address,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="dimension != null">
        dimension,
      </if>
      <if test="businessFile != null">
        business_file,
      </if>
      <if test="partName != null">
        part_name,
      </if>
      <if test="createAccountId != null">
        create_account_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateAccount != null">
        update_account,
      </if>
      <if test="finish != null">
        finish,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="businessAddress != null">
        #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="dimension != null">
        #{dimension,jdbcType=VARCHAR},
      </if>
      <if test="businessFile != null">
        #{businessFile,jdbcType=VARCHAR},
      </if>
      <if test="partName != null">
        #{partName,jdbcType=VARCHAR},
      </if>
      <if test="createAccountId != null">
        #{createAccountId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAccount != null">
        #{updateAccount,jdbcType=INTEGER},
      </if>
      <if test="finish != null">
        #{finish,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starda.managesystem.pojo.ManageBusinessInfo">
    update manage_business_info
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="businessAddress != null">
        business_address = #{businessAddress,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="dimension != null">
        dimension = #{dimension,jdbcType=VARCHAR},
      </if>
      <if test="businessFile != null">
        business_file = #{businessFile,jdbcType=VARCHAR},
      </if>
      <if test="partName != null">
        part_name = #{partName,jdbcType=VARCHAR},
      </if>
      <if test="createAccountId != null">
        create_account_id = #{createAccountId,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAccount != null">
        update_account = #{updateAccount,jdbcType=INTEGER},
      </if>
      <if test="finish != null">
        finish = #{finish,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starda.managesystem.pojo.ManageBusinessInfo">
    update manage_business_info
    set pid = #{pid,jdbcType=INTEGER},
      business_id = #{businessId,jdbcType=INTEGER},
      task_name = #{taskName,jdbcType=VARCHAR},
      staff_id = #{staffId,jdbcType=INTEGER},
      staff_name = #{staffName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      business_address = #{businessAddress,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      dimension = #{dimension,jdbcType=VARCHAR},
      business_file = #{businessFile,jdbcType=VARCHAR},
      part_name = #{partName,jdbcType=VARCHAR},
      create_account_id = #{createAccountId,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_account = #{updateAccount,jdbcType=INTEGER},
      finish = #{finish,jdbcType=INTEGER},
      `level` = #{level,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      finish_time = #{finishTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>